body {
    padding-top: 4rem;
}

h2{
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 3px;
}

.bg-grey{
    background-color: #868686;
    border-color: #fff;
}
  
.bg-grey:hover{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.btn{
    text-transform: uppercase;
}

.custom-fieldset{
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 4px;
    font-size: 0.875rem;
}

label{
    font-size: 0.875rem;
    margin-bottom: 4px;
}

.form-group {
    margin-bottom: 7px;
}

.custom-legend{
    text-align: left;
    font-size: 0.875rem;
    /* font-weight: bold; */
    margin-bottom: 0px;
    width: 39%;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px 5px 5px 10px;
    background-color: #ffffff;
}

.custom-select {
    font-size: 0.875rem;
}

.custom-input {
    font-size: 0.875rem;
}

#schlussfolgerungen{
    height: 65px;
}

.rinput-class-middle{
    margin: 0px 3px;
}

.rinput-class-left{
    margin: 0px 3px 0px 15px;
}

.rinput-class-right{
    margin: 0px 15px 0px 3px;
}