body {
    padding-top: 4rem;
}

h2{
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 3px;
}

.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}

.input-group-addon{
  width: 60%;
}

.input-group{
  margin-bottom: 10px;
}


.custom-control-input:checked ~ .custom-control-indicator{
  color: #fff;
  background-color: #868686;
}

.bg-grey{
  background-color: #868686;
  border-color: #fff;
}

.bg-grey:hover{
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

.w-40{
  width: 40%;
}

.custom-select{
  font-size: 0.875rem
}

.font-size-sm{
  font-size: 0.875rem
}

.input-group-mitarbeiter2{
  margin-bottom: 0px;
}

.input-group-uhrzeit{
  margin-bottom: 0px;
}

textarea{
  height: 75px;
  margin-bottom: 0px
}

.trans-up{
  text-transform: uppercase;
  background-color: #868686;
}

.trans-up:hover{
  background-color: #2b2b2b;
  border-color: #2b2b2b;
}

.height-35{
  height: 35px;
}

.modal-header-custom{
  padding: 25px;
  border-bottom: none;
}
.modal-body-custom{
  padding: 10px 50px;
}

.modal-footer-custom{
  padding: 20px;
  border-top:none;
}

.modal-title{
  text-transform: uppercase;
}

/* .mitarbeiter-subform-row{
  margin-bottom: 15px;
} */

#platz_name{
  margin-bottom: 15px;
}

.mitarbeiter03-borders-style{
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}