body,h1 {
	font-family: "Raleway", sans-serif;
}

body, html {
	height: 100%;
}

.bgimg {
    background-image: url('3.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.main_button{
    border: none;
    background: none;
    color: #6b6b6b;
}

.main_button:hover{
    border: none;
    background: none;
    color: #000000;
}

/*.main_button{
    border: none;
    background: none;
    color: #6b6b6b;
}

.main_button:hover{
    border: none;
    background: none;
    color: #000000;
}
*/
#errorShow {
	color: red;
}

.auth_popup_overlay{
	width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
    display: none;
}

.auth_popup_content{
	width: 450px;
    height: 500px;
    margin: 150px auto auto auto;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 4px;
    box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.17);
}

/*.auth_popup_content{
	width: 450px;
	height: 500px;
	margin: 150px auto auto auto;
	text-align: center;
	background-color: rgba(24, 33, 52, 0.8);
	border-radius: 4px;
	box-shadow: 0px 0px 18px 6px rgba(0,0,0,0.17);
}*/

input[type="text"], input[type="password"]{
	width: 300px;
    height: 50px;
    font-size: 18px;
    margin-bottom: 25px;
    border-radius: 4px;
    padding-left: 10px;
    border: 1px solid grey;
}

/*
input[type="text"], input[type="password"]{
	width: 300px;
	height: 50px;
	font-size: 18px;
	margin-bottom: 25px;
	border-radius: 4px;
	padding-left: 10px;
	border: none;
}
*/
.subform_container img{
	height: 120px;
	width: 120px;
	margin: -60px 0 30px 0;
	border: 5px solid #182134;
	border-radius: 50%;

}

/*.button12 {
	width: 300px;
	height: 60px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 3px;
	background-color: #ff5252;
	text-align: center;
	cursor: pointer;
}

.button12 span {
	line-height: 60px;
	color: #fff;
	font-weight: bold;
	font-size: 15px;
	text-transform: uppercase;
} */

a {
	color: #fff;
}

a:hover {
	text-decoration: none;
}

/*.dws-submit {
	margin: 13px 30px;
	padding: 13px 30px;
	font-size: 15px;
	background-color: #2ca8c6;
	cursor: pointer;
	border: none;
	border-radius: 4px;
	width: 300px;
}*/

.dws-submit:hover{
 transition: all 0.5s;
 background-color: #a5a5a5;
 color: #2c536c;
}


.dws-submit {
	margin: 13px 30px;
    padding: 13px 30px;
    font-size: 15px;
    color: #fff;
    background-color: #000000;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    width: 300px;
}    

/*
.popup {
	position: absolute;
	width: 400px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	box-sizing: border-box;
	background-color: #ff5252;
	color: #fff;
}

.overlay {
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, .8);
	display: none;
}*/


/*Selfconfiguering closebutton*/

/*.close-popup {
	position: absolute;
	top: 15px;
	right: 15px;
	width: 23px;
	height: 23px;
	cursor: pointer;
}

.close-popup:before {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	left: -4px;
	transform: rotate(-45deg);
}

.close-popup:after {
	content: '';
	background-color: #fff;
	position: absolute;
	height: 1px;
	width: 31px;
	top: 11px;
	transform: rotate(45deg);
	left: -4px;
}*/