.btn-outline-primary {
    color: #2b2b2b;
    background-color: transparent;
    background-image: none;
    border-color: #2b2b2b;
}

.btn-outline-primary:not([disabled]):not(.disabled):active, .btn-outline-primary:not([disabled]):not(.disabled).active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: #212529;
    border-color: #212529;
    box-shadow: 0 0 0 0.2rem #4950578f;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #383b3e;
    border-color: #383b3e;
}

.btn-outline-primary:focus, .btn-outline-primary.focus {
    box-shadow: 0 0 0 0.2rem #49505780;
}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #0000000f;
}

.dropdown-item.active, .dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #444444;
}

.btn {
    width: 160px;
}

.row-current-user{
    margin-bottom: 20px;
}

.footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 60px;
    line-height: 30px;
}