body {
    padding-top: 4rem;
}

h2{
  font-size: 40px;
  letter-spacing: 4px;
  margin-bottom: 3px;
}

.bg-grey{
    background-color: #868686;
    border-color: #fff;
}
  
.bg-grey:hover{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.btn{
    text-transform: uppercase;
}