/**
 * Modal-form styles
 */

.modal-header-custom{
    padding: 25px;
    border-bottom: none;
}
.modal-body-custom{
    padding: 10px 50px;
}

.modal-footer-custom{
    padding: 20px;
    border-top:none;
}

.modal-title{
    text-transform: uppercase;
}