.fancyTable td, .fancyTable th {
	/* appearance */
	border: 1px solid #778899;
	/* size */
	padding: 5px;
}

.fancyTable tbody tr.odd td {
	/* appearance */
	background-color: #d6e0ef;
	background-image: -moz-linear-gradient(
		top,
		rgba(255,255,255,0.4) 0%,
		rgba(255,255,255,0.2) 50%,
		rgba(255,255,255,0.1) 51%,
		rgba(255,255,255,0.0) 100%);
	
	background-image: -webkit-gradient(
		linear, left top, left bottom,
		color-stop(0%,rgba(255,255,255,0.4)),
		color-stop(50%,rgba(255,255,255,0.2)),
		color-stop(51%,rgba(255,255,255,0.1)),
		color-stop(100%,rgba(255,255,255,0.0)));
}

.fancyTable tbody tr.odd td {
	background-color: #d2d2d2;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
    background-color: #343a40;
    color: white;
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
}

.fancyTable td, .fancyTable th {
    border: 0px solid #778899;
	padding: 5px;
	text-align: center;
}

.fancyTable tbody tr.odd td {
    background-color: #d2d2d2;
    text-align: center;
}