body {
    padding-top: 4rem;
}

h2{
    font-size: 40px;
    letter-spacing: 4px;
    margin-bottom: 3px;
}

.table-container{
    height: 440px;
    margin-bottom: 20px;
    /* width: 300px; */
}

.bg-grey{
    background-color: #868686;
    border-color: #fff;
}

.bg-grey:hover{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
}

.btn-primary:not([disabled]):not(.disabled):active{
    background-color: #2b2b2b;
    border-color: #2b2b2b;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.btn-primary:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.5);
}

.trans-up{
    text-transform: uppercase;
}